<html class="home-body">
  <div class="container-fluid home-body">
  	<div class="row">
  			<div class="col-md-6 col-md-offset-3 panel-default">
          <h1 class="margin-base-vertical home-text">Where are you?</h1>
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-warning" type="button">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div>
    </div>
  </div>
</html>
