<div class='width home-body'>
 <ul class="row photo-body a">
    <% @photos.each do |p| %>
      <li class="col-lg-1 col-md-2 col-sm-3 col-xs-4 b"><img src="<%= p.photo(:thumb) %>", class="c", data-toggle="modal" data-target="#myModal"/></li>
    <%end%>
 </ul>
</div>
