html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-body {
  padding: 20px;
  background: url(/assets/city.jpg) no-repeat center center fixed;
}

.home-text {
  color: white;
}

.margin-base-vertical {
  margin: 40px 0;
}

.input {
    background-color:gray;
    color: black;
}

.sidebar-padding {
  padding-right: 30px;
  position:fixed;
  top:20%;
  width:15%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.list-group {
  height: 500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-center {
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
}

.search {
  background-color: #FF9933 !important;
}

.denver {
  background-color: #3399FF !important;
}
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
