html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-body {
  padding: 20px;
  background: url(https://s3-us-west-2.amazonaws.com/neighborsturing/city-112410db60cababcf1d4beb82832d1c1.jpg?X-Amz-Date=20141015T222651Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=85711671051364cc5dc0003225a911847fc751f5a469093c4b2265cb15666dbf&X-Amz-Credential=ASIAJW53IUTSOXVU7DGA/20141015/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEKn//////////wEakALdBUdAXpjackEvJgqz/FQmq7qHLIwY9OL3PETXydh%2B2vs0Zyj9Fta5UX/u4AJiyX9WeO9hC68yBYYQylAQqLJsDjy7ILwWRa8px9NBFRRa7RXzL1%2B/Z02iGejoISJ7SLnnPY4QJszN1GldhFulaloozzTtz/j1Kxb%2BWZ8PUp4iM20mm5yvnL/j4J0OCPiSfiDlBK6Wfe3M9oNOBUHzKqWS16yY3StzvjUCNavAs4PXfQu0VUEejiYorZJWq9jrLhuPGE4XTBtWFheEMnuzBNXAji/2zYe0F3hDp2RCfM5qzoRBmU1EYDGp1OX1Y0FmOBFQVats91X1vaih5I9bTwZqjMvUxT4jk2sZqLQRoHw2JiDLpvqhBQ%3D%3D) no-repeat center center fixed;
}

.home-text {
  color: white;
}

.footer-text {
  color: white;
  font-size: small !important;
}

.margin-base-vertical {
  margin: 40px 0;
}

.input {
    background-color:gray;
    color: black;
}

.sidebar-padding {
  padding-right: 30px;
  position:fixed;
  top:20%;
  width:15%;
}

#map-canvas {
  height: 500px;
  width: 1020px;
}

.scroll {
  height: 440px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-center {
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
}

.search {
  background-color: #FF9933 !important;
}

.denver {
  background-color: #3399FF !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.user-info{
  background: white;
  height: 550px;
  border-radius: 5px;
}

.user-content {
  padding: 5px;
}

.user-large {
  height: 550px;
  width: 1020px;
  background: #CCCCCC;
  border-radius: 5px;
}

.photo {
  background: none;
}

.gallery-image {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
}

.photo-body {
  height: 500px;
  background-color: #222222;
  overflow-y: auto;
  overflow-x: hidden;
}

.width {
  width: 100%;
}

.twitter-image {
  height: 100%;
  width: 100%;
}

.scrolling {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
